[submodule "Strings"]
	path = Strings
	url = https://github.com/ramigglez/Strings.git
[submodule "html"]
	path = html
	url = https://github.com/ramigglez/html.git
[submodule "Html"]
	path = Html
	url = https://github.com/ramigglez/Html.git
